body {
  font-family: 'Open Sans', sans-serif;
  font-size:100%;
}

/*Navigation bar*/
.navbar {
  min-height:50px;
  /*border:solid 1px #dee6f2;*/
  background-color:white;
}

.nav-title {
  width:50%;
  float:left;
  font-style:italic;
  margin:1px 0px 10px 0px;
}

.nav-links {
  width:40%;
  float:right;
  padding:10px 5px 10px 0px;
  font-size:120%;
  font-weight:bold;
  text-align:right;
}

.nav-text {
  text-decoration:none;
  color:black;
  padding:0px 4px;
}
.main_image-pos{
  max-width:100%;
  overflow:hidden;
  /*float:left;*/
  /*z-index:-1;*/
}

/*Wrappers*/
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.color-box {
  border:solid 1px #C5CDD8;
  background-color:#dee6f2;
}

.center-me {
  text-align:center;
}

/*Forms*/
.frm-label {
  font-weight:bold;
  float:left;
  margin-left:3px;
}

.sqr-field {
  height:110%
  border:solid 1px #C5CDD8;
  margin:0px 0px 2px 2px;
}

.sqr-button {
  border:solid #42647F 1px;
  background-color:#42647F;
  color:white;
  padding:4px 6px 4px 6px;
}

/*Grids*/
.featured-list{
  display: inline;
  /*float: left;*/
  margin-top:50px;
  margin-right:20px;
  margin-bottom:10px;
  margin-left:20px;
  align-content: center;
}
.steps-list{
  display: inline;
  float: left;
  margin-top:10px;
  margin-right:20px;
  margin-bottom:10px;
  margin-left:20px;
  align-content: center;
}
.stat-row{
  margin-top:610px;
  text-align: center;
}

.stat-col-1{
  border-top:solid lightgray 1px;
  border-right:solid lightgray 1px;
  border-bottom:solid lightgray 1px;
}

.stat-col-2{
  border-top:solid lightgray 1px;
  border-right:solid lightgray 1px;
  border-bottom:solid lightgray 1px;
}

.stat-col-3{
  border-top:solid lightgray 1px;
  border-bottom:solid lightgray 1px;
}

.column-box {
  padding:10px;
}

.row {
  width:100%;
}

.column-75 {
  position:relative;
  width:75%;
  float:left;
}

.column-66 {
  position:relative;
  width:66.6666%;
  float:left;
}

.column-50 {
  position:relative;
  width:50%;
  float:left;
}

.column-33 {
  position:relative;
  width:33.3333%;
  float:left;
}

.column-25 {
  position:relative;
  width:25%;
  float:left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
/* Basic background image styling. */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
   position: absolute;
  width: 100%;
  top: 0;
  left: 0;
   height: 600px;
  transition: opacity 2s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
  background-image: url('../img/hero-banner_alaska.jpg');
  z-index: -3;
  opacity: 0;
}

.second-image {
  background-image: url('../img/main_background.jpg');
  z-index: -2;
  opacity: 0;
}

.third-image {
  background-image: url('../img/hero-banner_astro.jpg');
  z-index: -1;
  opacity: 0;
}
.fourth-image {
  background-image: url('../img/hero-banner_laptop.jpg');
  z-index: -1;
  opacity: 0;
}
.fifth-image {
  background-image: url('../img/hero-banner_phone.jpg');
  z-index: -1;
  opacity: 0;
}

.first-image.show {
  opacity: 1;
}

.second-image.show {
  opacity: 1;
}

.third-image.show {
  opacity: 1;
}
.fourth-image.show {
  opacity: 1;
}
.fifth-image.show {
  opacity: 1;
}
