<script src="../js/scripts.js"></script>

<div class="row main-splash" id="splash" ng-model="splashed">
  <div class="col-md-6">
    <h1>Hire Expert Freelancers For Your Online Job</h1>
    <h3>Millions of small businesses use Freelancer to turn their ideas into reality.</h3>
    <a ui-sref="hire"><button class="btn btn-default">Hire</button></a>
    <button ng-model="splashed" class="btn btn-default">Work</button>
  </div>
  <div class="main-image-pos col-md-6">
    <div class="background-image toggle-image first-image show"></div>
    <div class="background-image toggle-image second-image"></div>
    <div class="background-image toggle-image third-image"></div>
    <div class="background-image toggle-image fourth-image"></div>
    <div class="background-image toggle-image fifth-image"></div>
  </div>
</div>

<div ui-view="upper-body"></div>
