<div class="row well hire-neg-margin animated">
  <h2>Hire freelancers for a fraction of the cost!</h2>
  <ul class="featured-list">
    <li><p>
      Post your project within seconds
    </p></li>
    <li><p>
      Compare prices & select bidders
    </p></li>
    <li><p>
      Pay only once satisfied
    </p></li>
  </ul>
  <select id="categories" name="categories">
    <option value="Tech">Tech</option>
    <option value="Home">Home</option>
    <option value="Design">Design</option>
    <option value="Art">Art</option>
    <option value="Physics">Physics</option>
  </select>
  <form id="form_id" action="index.html" method="post">
    <input type="button" name="some_name" value="Post Project Now">
  </form>

  <a ui-sref="home"><button class="btn btn-default">Home</button></a>

</div>
